<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/htmx.min.js"></script>
        <script defer src="js/navigation.js"></script>
        <title>Introduction</title>
    </head>
    <body>
        <div class="stars"></div>
        <div class="main_content">
            <div class="content_left">
                <!-- ############################# -->
                <!-- From Uiverse.io by 00Kubi -->

                <div class="portrait_container noselect">
                    <div class="canvas" onclick="change_portrait(this)">
                        <div class="tracker tr-1"></div>
                        <div class="tracker tr-2"></div>
                        <div class="tracker tr-3"></div>
                        <div class="tracker tr-4"></div>
                        <div class="tracker tr-5"></div>
                        <div class="tracker tr-6"></div>
                        <div class="tracker tr-7"></div>
                        <div class="tracker tr-8"></div>
                        <div class="tracker tr-9"></div>
                        <div id="card">
                            <div class="card-content">
                                <div class="card-glare"></div>
                                <div class="cyber-lines"><span></span><span></span><span></span><span></span></div>
                                <p id="prompt">HOVER ME</p>
                                <div class="title"><br />STEVE</div>
                                <div class="glowing-elements">
                                    <div class="glow-1"></div>
                                    <div class="glow-2"></div>
                                    <div class="glow-3"></div>
                                </div>
                                <div class="subtitle">
                                    <span>INTERACTIVE</span>
                                    <span class="highlight">3D EFFECT</span>
                                </div>
                                <div class="card-particles"><span></span><span></span><span></span> <span></span><span></span><span></span></div>
                                <div class="corner-elements"><span></span><span></span><span></span><span></span></div>
                                <div class="scan-line"></div>
                                <img id="toon_portrait" src="img/toon_portrait/stylized_001.jpg" alt="toon portait" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ############################# -->
                <nav>
                    <ul>
                        <li>
                            <a
                                onclick="clicked_navigation_element(this)"
                                class="active_nav_element"
                                hx-get="modul/about_me.html"
                                hx-trigger="click"
                                hx-target="#htmx_content_ziel"
                                hx-swap="innerHTML"
                                >&Uuml;ber mich</a
                            >
                        </li>
                        <li>
                            <a
                                onclick="clicked_navigation_element(this)"
                                hx-get="modul/skills.html"
                                hx-trigger="click"
                                hx-target="#htmx_content_ziel"
                                hx-swap="innerHTML"
                                >Fähigkeiten</a
                            >
                        </li>
                        <li>
                            <a
                                onclick="clicked_navigation_element(this)"
                                hx-get="modul/hobbies.html"
                                hx-trigger="click"
                                hx-target="#htmx_content_ziel"
                                hx-swap="innerHTML"
                                >Hobbies</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>

            <div hx-get="modul/about_me.html" hx-trigger="load" hx-target="this" hx-swap="innerHTML" id="htmx_content_ziel" class="content_right_wrapper"></div>
                
            </div>
        </div>
    </body>
</html>
